<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">

<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>添加优惠券</h2>
	</div>
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="__URL__/insdetail" method="post" class="form-horizontal" enctype="multipart/form-data">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">
							卡号<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="sn" class="text input-large" value=""><span class="check-tips"></span>
						</div>

						<label class="item-label">
							所属类别<span class="check-tips"></span>
						</label>
						<div class="controls">
							<select name="coupon_id">
							<volist name="catevalue" id="vo">
								<option value="{$vo.id}">{$vo.title}</option>
							</volist>
							</select>
							<span class="check-tips"></span>
						</div>
					</div>
				</div>

				<div class="form-item">
					<input type="hidden" name="__forward__" class="text input-large" value="{$__forward__}">
					<input type="hidden" name="position_id" class="text input-large" value="{$Think.get.hid}"><span class="check-tips"></span>
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
	//导航高亮
    highlight_subnav("{:U('Coupon/detaillist')}");
	</script>
</block>