<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>优惠券管理</h2>
	</div>

	<div class="cf">
		<present name="Think.get.hid">
			<a class="btn" href="{$Think.get.refer|base64_decode}">返 回</a>
		</present>
		<a class="btn" href="__URL__/add">新 增</a>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>优惠券名称</th>
					<th>代金金额</th>
					<th>截止日期</th>
					<th>生成数量</th>
                    <th>是否生成</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="item">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="" id="" value="{$item['id']}"> </td>
						<td>{$item.id}</td>
						<td><a href="__URL__/info/id/{$item.id}">{$item.title}</a></td>
                        <td>{$item.money}</td>
                        <td>{$item.end_date}</td>
                        <td>{$item.num}</td>
                        <td>{$statusarr[$item['status']]}</td>
						<td>
						<if condition="$item.status eq 0">
							<a title="生成" href="__URL__/create/id/{$item.id}">生成</a>
							<a title="编辑" href="__URL__/edit/id/{$item.id}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="__URL__/del/id/{$item.id}">删除</a>
						<else />
						<a title="明细" href="__URL__/detail/id/{$item.id}">明细</a>
						</if>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
		<div class="page">
        {$page}
		</div>
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Coupon/index')}');
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>