<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">

<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript">

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language:"zh-CN",
        minView: 0,
        minuteStep:1,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language:"zh-CN",
        minView: 0,
        minuteStep:1,
        autoclose:true
    });
    showTab();

});
</script>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>编辑优惠券</h2>
	</div>
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="__URL__/update" method="post" class="form-horizontal" enctype="multipart/form-data">
				<!-- 基础 -->
				<input type="hidden" name="id" value="{$vo.id}" />
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">
							名称<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.title}
						</div>
						<if condition="$grade neq ''">
						<label class="item-label">
							会员等级<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$grade}
						</div>
						</if>
						<label class="item-label">
							开始日期<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.start_date}
						</div>

						<label class="item-label">
							截止日期<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.end_date}
						</div>

						<label class="item-label">
							金额<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.money}
						</div>

						<label class="item-label">
							消费下限<span class="check-tips">最低消费金额可用</span>
						</label>
						<div class="controls">
							{$vo.lowest}
						</div>

						<label class="item-label">
							说明<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.desc}
						</div>

						<label class="item-label">
							可用产品id<span class="check-tips">若为0则全部商品都可用</span>
						</label>
						<div class="controls">
							{$vo.pid}
						</div>
						<label class="item-label">
							生成数量<span class="check-tips"></span>
						</label>
						<div class="controls">
							{$vo.num}
						</div>
						<!-- <label class="item-label">
							领取数量<span class="check-tips">每个会员可领取的优惠券数量，0为不限制</span>
						</label>
						<div class="controls">
							<input type="text" name="pernum" class="text" value="{$vo.pernum|default=0}">
						</div> -->
					</div>
				</div>

				<div class="form-item">
					<input type="hidden" name="__forward__" class="text input-large" value="{$__forward__}">
					<input type="hidden" name="position_id" class="text input-large" value="{$Think.get.hid}"><span class="check-tips"></span>
					<!-- <button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button> -->
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
	//导航高亮
    highlight_subnav("{:U('Coupon/index')}");
	</script>
</block>