<div id="botBar">
			<div class="contain maxWidth">
				<div>
					<a href="/" class="{$home_active}">
						<span class="hz">&#xe604;</span>
						<em>首页</em>
					</a>
				</div>
				<div>
					<a href="/Product" class="{$category_active}">
						<span class="hz">&#xe603;</span>
						<em>分类</em>
					</a>
				</div>
				<div>
					<a href="/Cart" class="{$cart_active}">
						<span class="hz">&#xe601;</span>
						<em>购物车</em>
					</a>
				</div>
				<div>
					<a href="/Member/Order" class="{$order_active}">
						<span class="hz">&#xe602;</span>
						<em>订单</em>
					</a>
				</div>
				<div>
					<a href="/Member" class="{$member_active}">
						<span class="hz">&#xe605;</span>
						<em>我的</em>
					</a>
				</div>
			</div>
		</div>