<extend name="Public/base"/>
<block name="sidebar">
    <include file="sidemenu" />
</block>
<block name="body">

<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript">

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

});
</script>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>快报添加</h2>
	</div>
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="__URL__/doedit" method="post" class="form-horizontal" enctype="multipart/form-data">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">
							标题<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value=""><span class="check-tips"></span>
						</div>
						
						<label class="item-label">
							链接地址<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="link_url" class="text input-large" value=""><span class="check-tips"></span>
						</div>
						<label class="item-label">
							排列序号<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="oids" class="text input-large" value="0"><span class="check-tips"></span>
						</div>
					</div>
				</div>

				<div class="form-item">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Newsflash/index')}');
	</script>
</block>