<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>订单详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
		<script src="__PUBLIC__/Home/js/zepto.js"></script>
	</head>
	<body>
		<!--正文区域-->
		<div id="dingdanDetailDanTop" class="topBackTitle">
			<div class="contain maxWidth">
				<a class="hz back" href="javascript:;">&#xe600;</a>订单详情
			</div>
		</div>
		<div id="dingdanDetailDanMain" class="fastscroll dingdanMain">
			<div class="contain maxWidth">
				<div class="line"></div>
				<div class="dingdanInfo">
					<div class="ddqrTitleCom">
						<span class="hz">&#xe602;</span>订单信息
					</div>
					<div class="bgulCon">
						<ul>
							<li class="other">
								<p class="title">收货信息</p>
								<p class="cont">
									收货人: <span>{$useraddress.name}</span><br>
									联系方式: <span>{$useraddress.mobile}</span><br>
									收货地址: <span>{$useraddress.address}</span>
								</p>
							</li>
							<li>
								<span class="left">支付方式</span>
								<span class="right">微信</span>
							</li>
							<li>
								<span class="left">配送方式</span>
								<span class="right">送货</span>
							</li>
						</ul>
					</div>
					<ul class="ulConNobg">
						<li>
							<span class="left">订单编号</span>
							<span class="right">{$order.sn}</span>
						</li>
						<li>
							<span class="left">订单时间</span>
							<span class="right">{:date('Y-m-d H:i:s',$order['addtime'])}</span>
						</li>
						<li>
							<span class="left">订单状态</span>
							<span class="right">{$statusarr[$order['status']]}</span>
						</li>
					</ul>
				</div>
				<div class="ddproList">
					<p class="ddqrTitleCom">
						<span class="hz">&#xe61e;</span>商品清单
					</p>
					<ul class="list">
					<?php
					$product_price=0;
					?>
					<volist name="orderlist" id="item">
					<?php
					$product_price+=$item['product_price']*$item['product_num'];
					?>
						<li class="clear">
							<div class="left">
								<img src="{$item.image}">
							</div>
							<div class="right">
								<p class="title"><a href="javascript:;">{$item.title}</a></p>
								<p class="price">
									<em>&yen;{$item.product_price}</em><del>&yen;{$item.market_price}</del><span class="r">&times;<span>{$item.product_num}</span></span>
								</p>
							</div>
						</li>
					</volist>
					</ul>
				</div>
				<div class="priceList">
					<p class="ddqrTitleCom">
						<span class="hz">&#xe61d;</span>价格清单
					</p>
					<div class="bgulCon">
						<ul>
							<li>
								<span class="left">商品金额</span>
								<span class="right">&yen;{$product_price}</span>
							</li>
							<if condition="$order['express_money'] gt 0">
							<li>
								<span class="left">运费</span>
								<span class="right">+&yen;{$order.express_money}</span>
							</li>
							</if>
							<if condition="$order['coupon_money'] gt 0">
							<li>
								<span class="left">优惠券</span>
								<span class="right">-&yen;{$order.coupon_money}</span>
							</li>
							</if>
							<li>
								<span class="left">实付款</span>
								<span class="right red">&yen;{$order.money}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<if condition="$order['status'] eq 0">
		<!--
		{:U('Order/payok',array('order_id'=>$order['id']))}
		-->
		<div id="dingdanDetailDanBot" class="dingdanBot">
			<div class="contain maxWidth">
				合计：<span>&yen;<em>680.00</em></span>
				<a href="/wxpay/example/jsapi.php?order_id={$order.id}">去支付</a>
			</div>
		</div>
		</if>

		<script>
			//返回按钮
			$('#dingdanDetailDanTop .back').on('tap',function(){
				window.history.go(-1);
			});
		</script>
	</body>
</html>
