<!DOCTYPE html>
<html class="wh100"> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>{:C('WEB_SITE_TITLE')}</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
		<script src="__PUBLIC__/Home/js/zepto.js"></script>
		<script src="__PUBLIC__/Home/js/delIOS_huitan.js"></script>
<script>
function verifycode()
{
	var verifysrc='__URL__/verify&rand='+Math.random();
	$('#verify_code').attr('src',verifysrc);
}
$(function(){
	$(".submitbtn").click(function() {
		var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		if($('#login_user').val()=='')
		{
			tipFun('请输入手机号');
			$('#login_user').val('');
			$('#login_user').focus();
			return false;
		}
		else if(!myreg.test($('#login_user').val())) 
        {
			tipFun('请输入有效的手机号码！');
			$('#login_user').focus();
			return false; 
        }
		else if($('#sms').val()=='')
		{
			tipFun('请输入验证码!');
			return false;
		}
		else if($('#sms').val()!=$('#successsms').val())
		{
			tipFun('验证码不正确');
			return false;
		}
		else
		{
			window.location.href='__URL__/password2';
		}
	})
	$(".login_btn").click(function() {
		var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		if($('#login_user').val()=='')
		{
			tipFun('请输入手机号');
			$('#login_user').val('');
			$('#login_user').focus();
			return false;
		}
		else if(!myreg.test($('#login_user').val())) 
        {
			tipFun('请输入有效的手机号码！');
			$('#login_user').focus();
			return false; 
        }
		else if($('#sms').val()=='')
		{
			tipFun('请输入验证码!');
			return false;
		}
		else if($('#sms').val()!=$('#successsms').val())
		{
			tipFun('验证码不正确');
			return false;
		}
		else
		{
			window.location.href='__URL__/password2';
		}
	})
	$(".boxshadow,.close_yz").click(function(){
		$(".boxshadow").hide();
		$(".diolog").hide();
	});
	
	$("#sendyzm").click(function(){
		var login_pass	=	$('#login_pass').val();
		var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		if($('#login_user').val()=='')
		{
			tipFun('请输入手机号');
			$('#login_user').val('');
			$('#login_user').focus();			
		}
		else if(!myreg.test($('#login_user').val())) 
        {
			tipFun('请输入有效的手机号码！');
			$('#login_user').focus();
        }
		else
		{
			$(".boxshadow").show();
			$(".diolog").show();
		}
	});
	
	$(".senda_yzm").click(function(){
		//检测验证码
		$.ajax({
			type: "post",
			dataType: "json",
			url: "__URL__/checkcode",
			data: {code:$('#code').val()},
			success: function(json){
				if(json.status<1)
				{
					$.toast('验证码错误','cancel', function() {
					});
				}
				else
				{
					$.toast('已经发送验证码', function() {
						sendsms();
						$(".boxshadow").hide();
						$(".diolog").hide();
						//window.location.href='/Member';
					});
				}
			}
		})
	});
})
function sendsms()
{
	$.ajax({
		type: "post",
		dataType: "json",
		url: "__URL__/sendsms",
		data: {mobile:$('#login_user').val()},
		success: function(json){
			if(json.status<1)
			{
				$.toast(json.info,'cancel', function() {
				});
			}
			else
			{
				$('#successsms').val(json.info);
			}
		}
	})
}
</script>
	</head>
	<body class="wh100 box">
		<!--提示文字-->
		<div class="tip" style="opacity: 0;z-index: -1"></div>
		<!--输入验证码的弹框-->
		<div id="maKuang" style="display:none">
			<div class="top">
				<span class="title">输入验证码</span>
				<div class="inputArea">
					<input type="text" name="code" id="code"/>
					<p class="ma">
						<img src="__URL__/verify" id="verify_code" height="32" onclick="verifycode()"/>
					</p>
				</div>
			</div>
			<div class="bot">
				<a href="javascript:;" class="cancel">取消</a><a href="javascript:;" class="sure">确认</a>
			</div>
		</div>
		<!--遮罩层-->
		<div id="zhezhao" style="display:none"></div>
		<!--正文区域-->
		<div id="findPwdMain" class="lzMain zmMain maxWidth fastscroll">
			<div class="topBar">
				<a class="hz back" href="javascript:;">&#xe600;</a>
				密码找回
			</div>
			<div class="middle">
				<div class="phone inputArea">
					<span>手机号</span><input type="tel" placeholder="请输入手机号" name="login_user" id="login_user"/>
				</div>
				<div class="ma inputArea">
					<span>短信验证码</span><input type="text" placeholder="请输入短信验证码" name="sms" id="sms"/><em class="sendma">获取验证码</em>
				</div>
			<input type="hidden" id="successsms" value="123456" /> 
				<a href="javascript:void(0)" class="submitbtn">下一步</a>
			</div>
		</div>

		<script>
			//返回按钮
			$('#findPwdMain .back').on('tap',function(){
				window.history.go(-1);
			});

			//tip
			function tipFun(str){
				$('.tip').text(str).css({
					'opacity':'1',
					'z-index':'9999'
				});
				setTimeout(function(){
					$('.tip').css('opacity','0');
					setTimeout(function(){
						$('.tip').css('z-index','-1');
					},300);
				},1300);
			}

			//点击 获取验证码
			$('#findPwdMain .middle .ma .sendma').on('tap',function(){
				var tel = $("#login_user").val();
				var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
				if(tel==""){
					tipFun("请输入手机号");
					$('#login_user').focus();return;
				}
				if(!myreg.test(tel)) {
					tipFun('请输入有效的手机号码！');
					$('#login_user').focus();return;
				}
				$('#maKuang').css('display','block');
				$('#zhezhao').css('display','block');
			});

			//点击取消
			$('#maKuang .bot .cancel').on('tap',function(){
				$('#maKuang .top .inputArea input').val('');//清空弹框input值
				$('#maKuang').css('display','none');
				$('#zhezhao').css('display','none');
			});

			//点击确定
			$('#maKuang .bot .sure').on('tap',function(){
				var getValue=$('#maKuang .top .inputArea input').val();
				var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
				if($('#login_user').val()=='')
				{
					tipFun('请输入手机号');
					$('#login_user').val('');
					$('#login_user').focus();			
				}
				else if(!myreg.test($('#login_user').val())) 
				{
					tipFun('请输入有效的手机号码！');
					$('#login_user').focus();
				}
				else
				{
//					console.log(getValue);
					$.ajax({
						type: "post",
						dataType: "json",
						url: "__URL__/checkcode",
						data: {code:getValue},
						success: function(json){
							if(json.status<1)
							{
								tipFun('验证码错误');
							}
							else
							{
								tipFun('已经发送验证码');
								sendsms();
							}
						}
					})
				}
				$('#maKuang .top .inputArea input').val('');//清空弹框input值
				$('#maKuang').css('display','none');
				$('#zhezhao').css('display','none');
			});

			//点击下一步
			$('#findPwdMain .middle .submitbtn').on('tap',function(){
//				console.log('下一步');
			});
		</script>
	</body>
</html>
