<div id="botBar">
			<div class="contain maxWidth">
				<div>
					<a href="/" class="{$home_active}">
						<span class="hz">&#xe604;</span>
						<em>首页</em>
					</a>
				</div>
				<div>
					<a href="{:U('Spell/index')}" class="{$spell_active}">
						<span class="hz">&#xe6a8;</span>
						<em>拼团</em>
					</a>
				</div>
				<div>
					<a href="{:U('Cart/index')}" class="{$cart_active}">
						<span class="hz">&#xe601;</span>
						<em>购物车</em>
					</a>
				</div>
				<div>
					<a href="{:U('/Member/Order/index')}" class="{$order_active}">
						<span class="hz">&#xe602;</span>
						<em>订单</em>
					</a>
				</div>
				<div>
					<a href="{:U('/Member/Index/index')}" class="{$member_active}">
						<span class="hz">&#xe605;</span>
						<em>我的</em>
					</a>
				</div>
			</div>
		</div>