<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>订单详情</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
		<script src="__PUBLIC__/Home/js/zepto.js"></script>
		<script src="__PUBLIC__/Home/js/delIOS_huitan.js"></script>
		<style>
			#dingdanDetailDanMain .table{width: 100%;}
			#dingdanDetailDanMain .table .L{width:60px;vertical-align: middle}
			#dingdanDetailDanMain .table .R{text-align:right;vertical-align: middle}
		</style>
	</head>
	<body class="box">
		<!--正文区域-->
		<div id="dingdanDetailDanTop" class="topBackTitle">
			<div class="contain maxWidth">
				<a class="hz back" href="javascript:;">&#xe600;</a>订单详情
			</div>
		</div>
		<div id="dingdanDetailDanMain" class="fastscroll dingdanMain">
			<div class="contain maxWidth">
				<div class="line"></div>
				<div class="dingdanInfo">
					<div class="ddqrTitleCom">
						<span class="hz">&#xe602;</span>订单信息
					</div>
					<div class="bgulCon">
						<ul>
							<li class="other">
								<p class="title">收货信息</p>
								<p class="cont">
									收货人: <span>{$useraddress.name}</span><br>
									联系方式: <span>{$useraddress.mobile}</span><br>
									收货地址: <span>{$useraddress.area}&nbsp;{$useraddress.address}</span>
								</p>
							</li>
							<li>
								<span class="left">支付方式</span>
								<span class="right"><if condition="$order['paytype'] eq 1">余额支付<else/>微信支付</if></span>
							</li>
							<li>
								<span class="left">配送方式</span>
								<span class="right"><if condition="$order['type'] eq 1">门店自提<else/>送货上门</if></span>
							</li>
							<li>
								<span class="left">留言</span>
								<span class="right">{$order.note}</span>
							</li>
						</ul>
					</div>
					<ul class="ulConNobg">
						<li>
							<span class="left">订单编号</span>
							<span class="right">{$order.sn}</span>
						</li>
						<li>
							<span class="left">订单时间</span>
							<span class="right">{:date('Y-m-d H:i:s',$order['addtime'])}</span>
						</li>
						<li>
							<span class="left">订单状态</span>
							<span class="right">{$statusarr[$order['status']]}</span>
						</li>
					</ul>
				</div>
				<div class="ddproList">
					<p class="ddqrTitleCom">
						<span class="hz">&#xe61e;</span>商品清单
					</p>
					<ul class="list">
						<li class="clear">
							<div class="left">
								<img src="{$spell.image}">
							</div>
							<div class="right">
								<p class="title"><a href="javascript:;">{$spell.title}</a></p>
								<p class="price">
									<em>&yen;{$spell.price}</em><del>&yen;{$spell.oldprice}</del><span class="r">&times;<span>{$order.spell_num}</span></span>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="priceList">
					<p class="ddqrTitleCom">
						<span class="hz">&#xe61d;</span>价格清单
					</p>
					<div class="bgulCon">
						<ul>
							<li>
								<span class="left">商品金额</span>
								<span class="right">&yen;{$spell['price']*$order['spell_num']}</span>
							</li>
							
							<li>
								<span class="left">运费</span>
								<span class="right">+&yen;{$order.express_money}</span>
							</li>
							
							<if condition="$order['status'] gt 0 and $order['status'] lt 4">
							<li>
								<span class="left">实付款</span>
								<span class="right red">&yen;{$order.money}</span>
							</li>
							</if>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!--
		{:U('Order/payok',array('order_id'=>$order['id']))}
		-->
		<div id="dingdanDetailDanBot" class="dingdanBot">
			<div class="contain maxWidth">
				合计：<span>&yen;<em>{$order.money}</em></span>
				<if condition="$order['status'] eq 0"><a href="/wxpay/example/jsapis.php?order_id={$order.id}">去支付</a></if>
			</div>
		</div>

		<script>
			//返回按钮
			$('#dingdanDetailDanTop .back').on('tap',function(){
				window.history.go(-1);
			});
		</script>
	</body>
</html>
