<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>选择银行卡</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
		<script src="__PUBLIC__/Home/js/zepto.js"></script>
		<script src="__PUBLIC__/Home/js/delIOS_huitan.js"></script>
	</head>
	<body class="box">
		
		<!--正文区域-->
		<div id="myCardTop" class="topBackTitle">
			<div class="contain maxWidth">
				<a class="hz back" href="javascript:history.go(-1);">&#xe600;</a>选择银行卡
			</div>
		</div>
		<div id="myCardMain" class="fastscroll top50bot0">
			<div class="contain maxWidth">
				<ul class="ullist1line">
					<volist name="list" id="item">
					<li data-id="{$item.id}">
						<div class="left">
							<span class="circleGreen">
								<span class="hz">&#xe613;</span>
							</span>
						</div>
						<a href='__URL__/withdraw/bank_id/{$item.id}'>
						<div class="right">
							<div class="l">
								<img src="__PUBLIC__/Home/{$typearr[$item['type_id']]['img']}">
							</div>
							<div class="r">
								<p class="title">{$typearr[$item['type_id']]['title']}</p>
								<p class="info">尾号<span>{:substr($item['card_num'],-4)}</span></p>
							</div>
						</div>
						</a>
					</li>
					</volist>
				</ul>
				
			</div>
		</div>

		<script>
			
			//点击小圆点
			$('#myCardMain .ullist1line .left .circleGreen').on('tap',function(){
				if($(this).find('.hz').hasClass('active')){
					$(this).find('.hz').removeClass('active');
				}else{
					$(this).find('.hz').addClass('active');
				}
			});

			function tipFun(str){
				$('.tip').text(str).css({
					'opacity':'1',
					'z-index':'9999'
				});
				setTimeout(function(){
					$('.tip').css('opacity','0');
					setTimeout(function(){
						$('.tip').css('z-index','-1');
					},300);
				},1300);
			}
		</script>
	</body>
</html>
