<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>新增仓库</h2>
	</div>
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="__URL__/insert" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label2">
							编码
						</label>
						<div class="controls">
							<input type="text" name="sn" class="text input-large" value=""><span class="check-tips">（编码不能为空）</span>
						</div>
						<label class="item-label2">
							仓库名称
						</label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value=""><span class="check-tips">（名称不能为空）</span>
						</div>
						<label class="item-label2">
							联系人
						</label>
						<div class="controls">
							<input type="text" name="contact" class="text input-large" value=""><span class="check-tips"></span>
						</div>
						<label class="item-label2">
							联系电话
						</label>
						<div class="controls">
							<input type="text" name="tel" class="text input-large" value=""><span class="check-tips"></span>
						</div>
						<label class="item-label2">
							选择区县
						</label>
						<div class="controls">
							<select name="area_id">
							<volist name="arealist" id="item">
							<option value="{$item.id}">{$item.title}</option>
							</volist>
							</select>
						</div>
						<label class="item-label2">
							详细地址
						</label>
						<div class="controls">
							<input type="text" name="address" class="text input-large" value=""><span class="check-tips"></span>
						</div>
					</div>
				</div>

				<div class="form-item">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" type="button" onclick="window.location.href='__URL__'">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
