<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>核销员管理</h2>
	</div>

	<div class="cf">
		<present name="Think.get.hid">
			<a class="btn" href="{$Think.get.refer|base64_decode}">返 回</a>
		</present>
        <!--<button class="btn ajax-post" target-form="ids" url="{:U("Member/upgrade")}">升为VIP</button>
        <button class="btn ajax-post" target-form="ids" url="{:U("Member/cancelupgrade")}">设为普通</button>-->
		<a class="btn" href="__URL__/addhexiao">新 增</a>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<!-- <th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th> -->
					<th>ID</th>
					<th>核销员id</th>
					<th>核销员姓名</th>
					<th>自提点名称</th>
					<th>核销员工号</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="item">
					<tr>
						<!-- <td><input class="ids row-selected" type="checkbox" name="ids[]" id="" value="{$item['id']}"> </td> -->
						<td>{$item.id}</td>
						<td>{$item.admin_id}</td>
                        <td>{$item.name}</td>
                        <td>{:getstorename($item['store_id'])}</td>
                        <td>{$item.card}</td>
 
						<td>
							<a title="编辑" href="__URL__/addhexiao/id/{$item.id}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="__URL__/delHexiao/id/{$item.id}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
		<div class="page">
        {$page}
		</div>
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav("{:U('Member/hexiao')}");
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>