<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>编辑区县</h2>
	</div>
	<div class="tab-wrap">
		<div class="tab-content">
			<form action="__URL__/update" method="post" class="form-horizontal">
				<input type="hidden" name="id" value="{$vo.id}" />
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label2">
							区县名称
						</label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value="{$vo.title}"><span class="check-tips">（名称不能为空）</span>
						</div>
					</div>
				</div>

				<div class="form-item">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" type="button" onclick="goback('__URL__/index')">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
