<!DOCTYPE html>
<html class="wh100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>密码找回2</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
		<script src="__PUBLIC__/Home/js/zepto.js"></script>
	</head>
	<body class="wh100 fastscroll bgGreen">
		<!--正文区域-->
		<div id="findPwdMain" class="lzMain zmMain maxWidth">
			<div class="topBar">
				<a class="hz back" href="javascript:;">&#xe600;</a>
				密码找回
			</div>
			<div class="middle">
				<div class="key inputArea">
					<span>新密码</span><input type="password" placeholder="请输入新密码" name="login_pass" id="login_pass"/>
				</div>
				<div class="ckeckkey inputArea">
					<span>确认新密码</span><input type="password" placeholder="请再次输入新密码" id="repassword" name="repassword"/>
				</div>
				<a href="javascript:;" class="submitbtn">确认</a>
			</div>
		</div>

		<script>
			//返回按钮
			$('#findPwdMain .back').on('tap',function(){
				window.history.go(-1);
			});

			//点击确认
			$('#findPwdMain .middle .submitbtn').on('tap',function(){
//				console.log('确认');
			$.ajax({
					type: "post",
					dataType: "json",
					url: "__URL__/password2",
					data: {login_pass:$('#login_pass').val(),repassword:$('#repassword').val()},
					success: function(json){
						alert(json.info);
						if(json.status>0)
						{
							window.location.href='/Member/Login';
						}
					}
				})
			});
		</script>
	</body>
</html>
